# Data
game_data/*.csv
email_data/*.csv
old_game_data/*

# Keep folder structure
!game_data/.gitkeep
!email_data/.gitkeep
!old_game_data/.gitkeep

# Python
__pycache__/
*.pyc

# Secrets/logs
.env
.zprofile
cron.log

# Ignore duplicate team files
teams.txt
team.txt
scirpts/team.txt
scirpts/teams.txt
scirpts/.zprofile